<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accuverse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {%block extra_css%}
    
    <!-- for page specific css-->
    {%endblock%}

 
</head>
<body>  

       <div class="layout">
  <!-- Sidebar -->
    <aside class="sidebar">
        <div class "sidebar-img">
    <img src="{% static 'accuverse_logo.webp' %}" style="width: 200px; height: 100px; margin-left: 40px;" alt="Logo">
            </div>
        <div class="sidebar-header">
        <div class="crm-meta">
        </div>
        </div>
        <nav class="sidebar-nav">
        <div class="nav-label">NAVIGATION</div>
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link active" href="#">Clients</a>
        <a class="nav-link" href="#">Staff</a>
        <a class="nav-link" href="#">Calendar</a>
        </nav>
        <div class="sidebar-user">
        <div class="user-avatar">A</div>
        <div>
            <div class="user-name">Admin User</div>
            <div class="user-role">Firm Administrator</div>
        </div>
        </div>
    </aside>
  


        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>


